.login-bg {
  --background: #bbd7f3; // azul claro de fondo
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

ion-card {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  --background: #001f3f; // azul marino
  padding: 20px;
  color: white;
}

ion-card .title {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

ion-card .description {
  text-align: center;
  margin-bottom: 20px;
  color: #ccc;
}

ion-button.slide-button {
  margin-top: 10px;
}
