<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-bg">
  <div class="login-container">
    <ion-card>
      <ion-card-content>
        <h2 class="title">Registrarse</h2>

        <!-- Selección de rol -->
        <ion-segment [(ngModel)]="rolSeleccionado">
          <ion-segment-button value="usuario">
            Usuario
          </ion-segment-button>
          <ion-segment-button value="asesor">
            Asesor
          </ion-segment-button>
        </ion-segment>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="full" (click)="registrarUsuario()">Registrarse</ion-button>
        <ion-button expand="full" fill="outline" (click)="irLogin()">Ya tengo cuenta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
