<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Contrataciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Contrataciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="contrataciones.length > 0; else sinContrataciones">
    <ion-item *ngFor="let contratacion of contrataciones">
      <ion-label>
        <h2>{{ contratacion.planNombre }}</h2>
        <p>Estado: {{ contratacion.estado }}</p>
        <p>Contratado el: {{ contratacion.fecha | date:'short' }}</p>
      </ion-label>
      <ion-button slot="end" (click)="abrirChat(contratacion)">
        Chat con Asesor
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #sinContrataciones>
    <ion-item>
      <ion-label>
        <p>No tienes contrataciones aún.</p>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
