.login-bg {
  --background: #bbd7f3; // fondo uniforme con login
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.plan-card {
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
}

ion-card {
  border-radius: 12px;
  --background: #001f3f; // azul marino
  padding: 20px;
  color: white;
}

ion-card .title {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

h3 {
  margin-top: 15px;
  color: #ccc;
}

p {
  color: #fff;
  margin: 5px 0;
}

ion-button {
  margin-top: 10px;
}
