<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Planes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="login-bg">
  <div class="login-container">
    <h2>Quieres contratar un plan?</h2>
    <!-- Botón principal -->
    <ion-button expand="full" color="tertiary" (click)="irLogin()">
      Inicia sesión
    </ion-button>

    <!-- Lista de planes -->
    <div *ngFor="let plan of planes" class="plan-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="title">{{ plan.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ plan.precio }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <h3>Información Básica</h3>
          <p><strong>Segmento:</strong> {{ plan.segmento }}</p>
          <p><strong>Público Objetivo:</strong> {{ plan.publico }}</p>

          <h3>Características Técnicas</h3>
          <p><strong>Datos Móviles:</strong> {{ plan.caracteristicas.datos }}</p>
          <p><strong>Minutos de Voz:</strong> {{ plan.caracteristicas.minutos }}</p>
          <p><strong>SMS:</strong> {{ plan.caracteristicas.sms }}</p>
          <p><strong>Velocidad:</strong> {{ plan.caracteristicas.velocidad }}</p>
          <p><strong>Redes Sociales:</strong> {{ plan.caracteristicas.redes }}</p>
          <p><strong>Llamadas Internacionales:</strong> {{ plan.caracteristicas.llamadas }}</p>
          <p><strong>Roaming:</strong> {{ plan.caracteristicas.roaming }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
